<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title> AngularJS Backshop College </title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.16.0-rc-1/build/cssreset/cssreset-min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>

  <style type="text/css">
     

    </style>

  <body>

    <div class="page-header">
      <h1> AngularJS <small> backshop college </small></h1>
    </div>


    <div class="container" ng-app='college'>
      <div class="row">
        <p> More at: http://docs.angularjs.org/api/ng/type/$rootScope.Scope </p>
        <div id='app' ng-cloak ng-controller='ParentController'>
          <input ng-model='user.name'></input> {{ user.name }} <BR>
          <input ng-model='user.location.address'></input>  {{ user.location.address }}
          <button ng-click='share()'> SHARE</button>
        </div>

        <div id='app' ng-cloak ng-controller='FriendController'>
          <input ng-model='user.name'></input> {{ user.name }} <BR>
          <input ng-model='user.location.address'></input>  {{ user.location.address }}
          <button ng-click='share()'> SHARE</button>
        </div>

      </div>
     </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//code.angularjs.org/1.2.16/angular.js"></script>

    <script>
      var module = angular.module('college', []);
      
      module.controller('ParentController', ['$scope', '$rootScope', ParentController]);
      function ParentController($scope, $rootScope) {
        $scope.user = {name: 'thiago', location: { address: 'rua '}};
        
        $scope.share = function() {
          $rootScope.$emit('user', $scope.user);
        }

        $rootScope.$on('user', function(scope, user){
          $scope.user = angular.copy(user);
        })
      } 

      module.controller('FriendController', ['$scope', '$rootScope', FriendController]);
      function FriendController($scope, $rootScope) {
        $scope.user = {name: 'thiago', location: { address: 'rua '}};

        $scope.share = function() {
          $rootScope.$broadcast('user', $scope.user);
        }

        $rootScope.$on('user', function(scope, user){
          $scope.user = angular.copy(user);
        })
      }


    </script>

  </body>
</html>